.container {
  margin: 20px auto;
  width: 1024px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
}

.column_1 {
  flex: 40%;
}

.column_2 {
  flex: 60%;
}

.box_left {
  margin: 40px 20px 40px 40px;
  padding: 40px;
  background-color: #f4f4f4;
}

.box_right {
  margin: 40px 40px 40px 20px;
  padding: 20px;
}

header img {
  border: 10px solid white;
  border-radius: 50%;
}

address {
  font-family: "Nunito Sans", sans-serif;
  display: inline;
  vertical-align: middle;
  line-height: 2;
}

address ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address li img {
  vertical-align: middle;
  margin-right: 15px;
}

ul {
    padding-inline-start: 20px;
}

h3 {
  margin-block-start: 2em;
  margin-block-end: 1em;
}

h4 {
  margin-block-start: 1em;
  margin-block-end: 0em;
}

.profession {
  font-family: "Public Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #f4f4f4;
}

footer .github_icon {
  margin-right: 10px;
}

.github
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}